.results
  margin-top: 160px
  margin-bottom: 20px

  @media (max-width: 768px)
    margin-top: 40px

  #results-heading
    height: 40px
    color: $secondary-color

  .search-result
    display: block
    width: 100%

    h1
      @media (max-width: 768px)
        margin-bottom: 0px
        font-size: 40px

.search-again, .open-map
  margin-top: 30px
