input.string
  height: 60px
  border-radius: 5px
  padding-left: 25px
  background: none
  font-size: 20px


.error-messages
  position: absolute
  width: 100%
  bottom: 70px

  p
    font-size: 18px
